body {
    padding: 22px;
    margin-bottom: 35px;
    background-color: #5f6361;
}

.overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: normal;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    height: auto;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    padding-left: 15px;
}

h4 {
    padding-top: 200px;
    padding-left: 170px;
}

.card {
    border-radius: 40px;
    border-color: brown;
    width: 200px;
    height: 300px;
    border-style: double;
    display: inline-block;
}